<%#= render :partial => 'index_view.html.erb' %>
<div class="pdf_content">
	<div class="pdf_heading">
	  <h5>Budget Reports</h5>
	  <div class="date_pdf"><%= Date.today.strftime('%d-%m-%Y') %></div>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Date</th>
				<th>Type</th>
				<th>Category</th>
				<th>Amount</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<% @budgets && @budgets.each do |budget| %>
				<tr>
					<td><%= budget.date_time %></td>
					<td><%= Budget.spend_type(budget.spend_type) %></td>
					<td><%= Budget.category_name(budget.spend_id, budget.spend_type) %></td>
					<td>
						<% if budget.spend_type == "IncomeCategory" %>
							<span class="span_green"><%= budget.amount %></span>
						<% else %>
							<span class="span_red"><%= budget.amount %></span>
						<% end %>
					</td>
					<td><%= budget.description %></td>
					
				</tr>
			<% end %>
		</tbody>
	</table>
	<% if @budgets.present? %>
		<% sum_record = @budgets.group(:spend_type).sum(:amount) %>
 		<ul class="summary_data">
     	<li>Total-Income:&nbsp;<span class="span_green"><%= sum_record['IncomeCategory'] %></span></li>
     	<li>Total-Expense:&nbsp;<span class="span_red"><%= sum_record['ExpenseCategory'] %></span></li>
  	</ul>
  <% end %>
</div>
