<%#= render :partial => 'index_view.html.erb' %>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Date</th>
			<th>Type</th>
			<th>Category</th>
			<th>Amount</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<% @budgets && @budgets.each do |budget| %>
			<tr>
				<td><%= budget.date_time %></td>
				<td><%= Budget.spend_type(budget.spend_type) %></td>
				<td><%= Budget.category_name(budget.spend_id, budget.spend_type) %></td>
				<td>
					<% if budget.spend_type == "IncomeCategory" %>
						<span class="span_green"><%= budget.amount %></span>
					<% else %>
						<span class="span_red"><%= budget.amount %></span>
					<% end %>
				</td>
				<td><%= budget.description %></td>
				
			</tr>
		<% end %>
	</tbody>
	
</table>
