<div class="bm_new">
	<div class="top_section">
	  <ol class="breadcrumb">
	  	<li class="breadcrumb-item"><%= link_to 'Dashboard', budgets_path %></li>
		  <li class="breadcrumb-item">Add Category</li>
	  </ol>
	  <div class="right_div"><%= link_to "SignOut", destroy_user_session_path, method: :delete %>
		</div>
	</div>
  <div class="form_section"> 
  <!-- <h5>ADD New BM </h5> -->
  	<div class="">
			<%= form_tag category_create_path, method: 'post' do %>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<label>Category Type</label>
							<%= select_tag 'category', options_for_select(Budget::SPENDTYPE), class: "form-control input_w", required: true, prompt: 'Select Category' %>
						</div>
						<div class="form-group">
							<label>Name</label>
							<%= text_field_tag 	:name, nil, placeholder: 'Enter Category Name', required: true ,class: "form-control"%>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">
								<i class="fa fa-check" aria-hidden="true"></i>
								Add
							</button>
							<%= link_to budgets_path, :class=>"btn btn-danger" do %>
								<i class="fa fa-times" aria-hidden="true"></i>
								Cancel
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>