<!DOCTYPE html>
<html>
  <head>
    <title>BudgetManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'toastr_rails/flash' %>
    
  </head>

  <body>
    <div class="container-fluid page-wrapper">
     <%= yield %>
    </div>
  </body>
</html>

